img{
    width: 30%;
    margin: calc(10%/6);
}

nav{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: calc(10%/6);
    border-bottom: 3px solid black;
}